{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}Nouveau Quiz{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}


{% block body %}

    {{ parent() }}

    <div class="container">

        <br>

        <h4 class="black-text">Ajouter un quiz</h4>

    </div>

{% endblock %}
